@import url(styles/header.css);
@import url(styles/escola.css);
@import url(styles/estudante.css);
@import url(styles/rodape.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}