.img-escola {
    width: 20%;
}

.div-escola-conteudo {
    width: 35%;
}

.escola-titulo {
    padding: 24px 0;
}

#escola {
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}