.img-estudante {
    width: 120px;
}

.img-midias {
    width: 24px;
}

.estudante-div {
    text-align: center;
}

.estudante-titulo {
    text-align: center;
    padding: 50px 0;
    color: white;
}

.estudante-todos {
    color: white;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

#estudantes {
    padding: 24px 0;
    background: linear-gradient(#16CFF8, #424e61);
}